<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <h3>Students List</h3>
     <table>
         <thead>
              <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Student Dept</th>
              </tr>
         </thead>
         <tbody>
<!--              <tr th:each="student : $ {students}">-->
<!--                  <td th:text="${student.studid}"></td>-->
<!--                  <td th:text="${student.studname}"></td>-->
<!--                  <td th:text="${student.studdept}"></td>-->
<!--              </tr>-->
         </tbody>
     </table>
</body>
</html>